<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASA APOD</title>
</head>

<body>
    <h1 class="apod-heading">{{title}}</h1>
    <p class="apod-date">{{date}}</p>
    <p class="apod-desc">
    <h5>Description: </h5>{{explanation}}
    </p>
    <img class="apod-img" src="{{hdurl}}" alt="apod">
</body>

</html>