<div class="section container home">
    <div class="card">
        <div class="card-content">
            <h4>
                Discover the wonders of the universe with NASA!
            </h4>
        </div>
        <div class="section apod-btn">
            <a href="/apod" class="btn black darken-1">
                <h4 class="home-text">Explore Now</h4>
            </a>
        </div>
    </div>

</div>