@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body{
    background-color: aquamarine;
    font-family: 'Karla', sans-serif;

}

p{
    margin: 10px 0 !important;
}

.apod-img{
    width: 100%;
}

.login-container, .home{
    width: 400px;
    margin-top: 30px;
    text-align: center;
}

.apod-btn{
    background-color: black;
    color: white;
}

h4{
    margin: auto;
}